/node_modules
/public/build
/public/hot
/public/storage
/public/img/book/*
/public/img/users/*

/storage/*.key
/vendor
.env
.env.backup
.env.local
.env.staging
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*node_modules
