@keyframes heart {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes radioAnime {
  0% {
    transform: scale(0) translateY(-50%);
  }
  50% {
    transform: scale(1.2) translateY(-50%);
  }
  100% {
    transform: scale(1) translateY(-50%);
  }
}
@keyframes slide {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slide-animation {
  animation: slide 0.2s ease;
}

/* enter transitions */
.modal-enter-active {
  transition: opacity 0.1s ease 0.2s;
  .window {
    animation: slide 0.2s;
  }
}
.modal-leave-active {
  transition: all ease 0.2s;
  .window {
    transform: translateY(30px) !important;
  }
}
/* leave transitions */
.modal-leave-to {
  opacity: 0;
  .window {
    opacity: 0;
  }
}
