// @font-face {
//     font-family: "Noto Sans JP";
//     font-style: normal;
//     font-weight: 100;
//     src: url("/resources/fonts/NotoSansCJKjp-Thin.woff2") format("woff");
//     font-display: swap;
// }

// @font-face {
//     font-family: "Noto Sans JP";
//     font-style: normal;
//     font-weight: 200;
//     src: url("/resources/fonts/NotoSansCJKjp-Light.woff2") format("woff");
//     font-display: swap;
// }

// @font-face {
//     font-family: "Noto Sans JP";
//     font-style: normal;
//     font-weight: 300;
//     src: url("/resources/fonts/NotoSansCJKjp-DemiLight.woff2") format("woff");
//     font-display: swap;
// }

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    src: url("/resources/fonts/NotoSansCJKjp-Regular.woff2") format("woff");
    font-display: swap;
}

// @font-face {
//     font-family: "Noto Sans JP";
//     font-style: normal;
//     font-weight: 500;
//     src: url("/resources/fonts/NotoSansCJKjp-Medium.woff2") format("woff");
//     font-display: swap;
// }

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    src: url("/resources/fonts/NotoSansCJKjp-Bold.woff2") format("woff");
    font-display: swap;
}

// @font-face {
//     font-family: "Noto Sans JP";
//     font-style: normal;
//     font-weight: 900;
//     src: url("/resources/fonts/NotoSansCJKjp-Black.woff2") format("woff");
//     font-display: swap;
// }

body {
    font-family: "Noto Sans JP";
}
