<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Basic認証 ---------------------------------------------------
    Order Deny,Allow
    Deny from all

    # Allow か Require どちらかの条件にマッチすればOKとする
    Satisfy Any

    # 接続先ホスト名による許可
    # SetEnvIf HOST "^(www\.starbooks\.one|localhost)$" noAuth
    SetEnvIf HOST "^(localhost)$" noAuth
    Allow from env=noAuth

    # Basic認証
    Require valid-user
    AuthType Basic
    AuthName "Please enter your ID and password"
    AuthUserFile .htpasswd
    # ------------------------------------------------------------


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
